/* mixin的使用模板
    @mixin 名字 (参数1 , 参数2){
        ...
    }

*/
/* 1.正常使用 */
@mixin alert {
  color: red;
  background: azure;
}

.alert-warning {
  @include alert(

  ); /*这里alert后面没有参数的时候，有没有括号都可以，但是有参数的时候不行 */
}

/* 2.mixin嵌套使用显示，mixin还可以使用嵌套的写法，嵌套的也会显示出来 */
@mixin show {
  color: yellow;
  a {
    color: orange;
  }
}

.show-mess {
  @include show();
}

/* 3.mixin参数使用情况,就当成函数传参使用就行 */
@mixin box($text-color, $bg-color) {
  color: $text-color;
  background: $bg-color;
  a {
    /* 这里使用的darken函数，自动生成颜色深10%的值 */
    color: darken($color: $text-color, $amount: 10%);
  }
}

/* 当没有指定参数名称的时候，参数的顺序不能改变 */
.box-mess {
  @include box(red, #ffff);
}
/* 当参数名指定的时候，参数的顺序没有那么重要了 */
.box-info {
  @include box($bg-color: yellow, $text-color: #434fdd);
}
